.container{
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
}

#apps {
    width: 100%;
    height: 800px;
    background-color: blue;
}

#games {
    width: 100%;
    height: 800px;
    background-color: darkcyan;
}

#art {
    width: 100%;
    height: 800px;
    background-color: coral;
}

#chatbot {
    width: 100%;
    height: 700px;
    background-color: crimson;
}


#myCarousel{
    background-color: greenyellow;
}
#myCarousel img{
    height: 350px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 20px;
}
